{% extends "common.html" %}
{% block sathya %}
    <head>
    <style>
        .welcomeadmin
        {
            font-family: "Segoe UI";
            color: #f44336;
            background-color: beige;
        }
        .divadmin
        {
           padding-top: 30px;
        }
        .onlineform
        {
            padding-top: 10px;
            align-content: center;
        }
         .wrong
        {
            padding: 10px;
            background-color: #f44336;
            color: white;
        }
    </style>
    </head>
    <body align="center">
    <h3 class="welcomeadmin" align="center">Welcome Admin</h3>
    <div class="divadmin">
        <table align="center">
            <tr>
                <th><a href="{% url 'scheduleclass' %}" class="btn btn-primary" role="button" style="padding: 10px 20px">Schedule New Class</a></th>
                <th><a href="{% url 'viewclasses' %}" class="btn btn-primary" role="button" style="padding: 10px 20px">View All Schedule Classes</a></th>
            </tr>
        </table>
    </div>
    <div class="onlineform">
        <h2 align="center" style="font-family: 'Segoe UI';color: blue">Schedule New Class</h2>
    <form action="{% url 'savecourse' %}" method="post">
    {% csrf_token %}
            <table align="center">
                {{ formclass }}
            </table>
            <br>
                <table align="center" style="padding: 10px">
                <tr>
                    <th>
                    {% if message %}
                    {{ message }}
                    {% else %}
                </th>
                    <th><button type="submit" class="btn btn-primary">Register</button></th>
                    {% endif %}
                </tr>
            </table>
        </form>
    </div>


    </body>

{% endblock %}